*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    background-color: #131315;

    color: #b7b4b4b5;
    /* font-family: "Protest Revolution", sans-serif; */
}

:root {
    /** 
     * color
     */
    --primary: #24a7ff;
    --on-primary: #100e17;
    --background: #131214;
    --on-background: #eae6f2;
    --surface: #1d1c1f;
    --on-surface: #dddae5;
    --on-surface-variant: #7b7980;
    --on-surface-variant-2: #b9b6bf;
    --outline: #3e3d40;
    --bg-aqi-l: #89e589;
    --on-bg-aqi-1: #1f331f;
    --bg-aqi-2: #e5dd89;
    --on-bg-aqi-2: #33311f;
    --bg-aqi-3: #e5c089;
    --on-bg-aqi-3: #332b1f;
    --bg-aqi-4: #e58989;
    --bg-aqi-5: #e589b7;
    --on-bg-aqi-5: #331f29;
    --white: hsl(0, 0, 100%);
    --white-alpha-8: hsla(0, 0%, 100%, 0.04);
    --white-alpha-4: hsla(0, 0%, 100%, 0.08);
    --black-alpha-10: hsla(0, 0%, 0%, 0.1);

    /**
    box shadow
  */
    --shadow-1: 0px 1px 3px hsla(0, 0%, 0%, 0.05);
    --shadow-1: 0px 3px 6px hsla(0, 0%, 0%, 0.04);

    /**
    border radius
    */
    --radius-28: 28px;
    --radius-16: 16px;
    --radius-pill: 500px;
    --radius-circle: 50%;

    /**
    transition
    */
    --transition-short: 100ms ease;

}

.fade-in {
    animation: fade-in 100ms ease forwards;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/* // <uniquifier>: Use a uniquifier for the class name
// <weight>: Use a value from 300 to 700
// <width>: Use a value from 75 to 125 */

li {
    list-style: none;
}

a,
span,
button,
input {
    display: block;
}


sup {
    vertical-align: top;
}

button {
    cursor: pointer;
}

a {
    color: inherit;
    text-decoration: none;
}



/*------------------*\
    #navbar css for dekstop view
\*------------------*/

#navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 3rem;
    padding-right: 3rem;
    height: 5rem;

}


.name {
    display: flex;
    align-items: center;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    font: bolder;
}

.staic {
    overflow: hidden;
    width: 50px;
    height: 50px;
}

.staic img {
    cursor: pointer;
    width: 100%;
    height: 100%;
    filter: grayscale(100%);
    transition: 0.5s ease;
}

.staic img:hover {
    transform: scale(1);
    filter: grayscale(0%);
}

/*------------------*\
    #search bar
\*------------------*/

#navbar .searchview{
    height: 3rem;
    /* width: 38%; */
    padding: 5px 20px;
    background-color: var(--surface);
    /* background-color: blue; */
    border-radius: var(--radius-28);
    display: flex;
    align-items: center;
    position: relative;
    z-index: 1;
}
.searchview:hover,
.searchview:focus-within{
    background-color: var(--on-surface-variant);
}
.searchview .searchWrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 13px;

}

.searchview .searchResult{
    position: absolute;
    left: 0;
    top: 45%;
    z-index: -1;
    width: 100%;
    height: auto;
    padding-top: 1.5em;
    border-radius: 0px 0px var(--radius-28) var(--radius-28);
    background-color: inherit;
    display: none;
    overflow: hidden;
}
.searchview:focus-within .searchResult{
    display: block;
}
.searchResult .viewItem{
    height: 3rem;
    padding: 5px 10px;
    list-style: none;
    border-top: 1px solid var(--white-alpha-8);
    display: flex;
    align-items: center;
    gap: 15px;
    cursor: pointer;
    position: relative;
}
.searchResults .viewItem:hover {
    background-color: var(--white-alpha-4);
}
.viewList .itemLink{
    position: absolute;
    /* background-color: yellow; */
    inset: 0;
}
.searchResults .itemTitle{
    font-size: 13px;
}
.searchResults .itemSubtitle{
    font-size: 12px;
    color: var(--on-surface-variant);
}


.searchview .searchfied{
     width: 29em;
     flex: 1;
     height: 100%;
     font-size: inherit;
     color: var(--on-background);
     font-weight: bold;
     background: none;
     /* background-color: red; */
     text-align: start;
     border: none;
     outline: none;
}


/*------------------*\
    #Current weather btn
\*------------------*/

.location .icon-btn {
    display: none;
}

.location {
    display: flex;
    align-items: center;
}

.second-btn {
    cursor: pointer;
    background-color: var(--primary);
    color: var(--on-primary);
    height: 48px;
    max-width: max-content;
    display: flex;
    align-items: center;
    gap: 16px;
    padding-inline: 16px;
    border-radius: var(--radius-pill);
}

.second-btn .span-btn {
    font-weight: 700;
}

.second-btn[disabled] {
    background-color: var(--outline);
    color: var(--on-surface-variant);
    cursor: not-allowed;
}

.main {
    display: flex;
    width: 100%;
    height: 80%;
    /* background-color: #1a54d0; */
}

.left {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    padding: 1rem;
}

.leftfirst {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 300px;
    height: 250px;
    background-color: #1c1c1e;
    border-radius: 20px;
    padding: 20px;
}

.card .cloud-condition {
    padding: 5px 8px;
    font-size: 20px;
}

.card .temp-1 {
    font-size: 50px;
}

.card .Weather-icon {
    position: absolute;
    left: 50%;
    top: 5%;
    right: 0%;
}

.card {
    position: relative;
    margin-bottom: 5px;
}

.card .cloud-condition {
    border-bottom: 0.1px solid #565353e6;
    margin-bottom: 5px;
}

.card .areaDate .area-icon {

    padding-right: 9px;
    width: 30px;
    height: 20px;
}

.card .areaDate {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.meta-item {
    display: flex;
}

.days {
    font-size: 22px;
    font-weight: bolder;
}

.leftSec {
    width: 300px;
    height: 300px;
    background-color: #1c1c1e;
    border-radius: 20px;
    padding: 20px;
}

.leftSec ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    font-size: 15px;
    gap: 30px;
}

.leftSec :is(li, .card-item, .icon-wrapper) {
    display: flex;
    align-items: center;
}

.leftSec .icon-wrapper {
    gap: 10px;
}

.leftSec .card-item>.labal-1 {
    width: 100%;
    text-align: right;
}


.rightMain {
    display: flex;
    height: auto;
    width: 100%;
    flex-wrap: wrap;
    padding: 1rem;
    gap: 2rem;

}

.rightfirst .title-2 {
    position: absolute;
    top: 4%;
    right: auto;
    left: 3%;
    font-size: 20px;
    font-weight: bolder;
}

.rightfirst {
    display: flex;
    width: 100%;
    /* background-color: #1a54d0; */
    background-color: var(--surface);
    padding: 1rem;
    flex-direction: column;
    border-radius: 20px;
    gap: 1rem;
    height: 380px;
    position: relative;
}

.rightfirst .rightFirstChild {
    display: flex;
    flex-direction: row;
    /* background-color: palevioletred; */
    padding-top: 1.8rem;
    justify-content: space-between;
}

.rightfirst .rightSecondChild {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.right-small-one {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    width: 33rem;
    height: 155px;
    background-color: #1a191c;
    padding: 20px;
    position: relative;
    /* background-color: red; */
}

.right-small-one ul {
    list-style: none;
}

.air-quality-2 .Weather-icon{
    width: 80px;
}

.air-quality-2,
.card-list {
    display: flex;
    flex-direction: row;
    gap: 40px;
    font-size: 20px;
    align-items: center;
    text-align: center;
}

.air-quality-2 {

    padding-top: 15px;
}


.rightFirstChild .card-p-tag{
    font-size: 28px;
    font-weight: 600;
}
.rightFirstChild .card-list .card-list-p {
    font-size: 30px;
    font-weight: 400;
    text-align: center;
}
/* 
.right-card-item :is(:first-child) {
    font-size: 12px;
} */

.badge.aqi-1 {
    position: absolute;
    top: 14%;
    left: auto;
    right: 1%;
    padding: 2px 12px;
    border-radius: 12px;
    font-weight: bold;
    cursor: help;
    background-color: #70ed78;
    color: #000000;    
}


.badge.aqi-2 {
    position: absolute;
    top: 14%;
    left: auto;
    right: 1%;
    padding: 2px 12px;
    border-radius: 12px;
    font-weight: bold;
    cursor: help;
    background-color: #dced70;
    color: #000000;
}

.badge.aqi-3 {
    position: absolute;
    top: 14%;
    left: auto;
    right: 1%;
    padding: 2px 12px;
    border-radius: 12px;
    font-weight: bold;
    cursor: help;
    background-color: #edbf70;
    color: #000000;
}

.badge.aqi-4 {
    position: absolute;
    top: 14%;
    left: auto;
    right: 1%;
    padding: 2px 12px;
    border-radius: 12px;
    font-weight: bold;
    cursor: help;
    background-color: #c03d3d;
    color: #000000;
}

.badge.aqi-5 {
    position: absolute;
    top: 14%;
    left: auto;
    right: 1%;
    padding: 2px 12px;
    border-radius: 12px;
    font-weight: bold;
    cursor: help;
    background-color: #ed7070;
    color: #000000;
}

.right-small-two {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    width: 33rem;
    height: 155px;
    background-color: #1a191c;
    padding: 15px;
    /* background-color: green; */
}
.right-small-two .card-list .lable-1{
    font-size: 20px;
    font-weight: 600;
    padding: 5px 5px;
}
.right-small-two .sunrise-sunset {
    display: flex;
    padding-top: 16px;
    align-items: center;
    gap: 25px;
}
.right-small-two .card-list .Weather-icon{
    width: 75px; 
    height: 75px;
}
.right-small-two .card-list .title-3{
    font-size: 29px;
    font-weight: 500;
} 
.right-small-three {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    /* width: 250px;
    height: 120px; */
    background-color: #1a191c;
}

.right-small-four {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-color: #1a191c;
    /* width: 250px;
    height: 120px; */
}

.right-small-five {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    /* width: 250px;
    height: 120px; */
    background-color: #1a191c;
}

.right-small-six {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    /* width: 250px;
    height: 120px; */
    background-color: #1a191c;
}

.highlight-card {
    padding: 15px;
     width: 230px;
    height: 120px;
}

.highlight-card :is(.wrapper) {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.highlight-card,
.title-1 {
    font-size: 25px;
    font-weight: 800;
}
.wrapper .title-1{
    display: flex;
}

.wrapper .wrapper-img{
    width: 50px;
    height: 50px;
    margin-top: 6px;
}


/**
    temp and wind secion
  */
.rightsecond .title-2 {
    position: absolute;
    top: -15%;
    left: 1%;
    font-size: 24px;
    font-weight: 600;
}

.rightsec-small ul {
    list-style: none;
}

.rightsecond {
    margin-top: 1rem;
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 2rem;

    position: relative;
}
.rightsecond .slider-list{
    /* background-color: rgb(84, 7, 7); */
    display: flex;
    justify-content: space-between;
}
.rightsecond .slider-item{
    text-align: center;
    background-color: var(--surface);
    width: 120px;
    height: 120px;
    border-radius: var(--radius-16);
}
.rightsecond .slider-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.2rem;

}
.slider-card .Weather-icon {
    width: 50px;
    height: 50px;
}

.slider-card .p-tag {
    font-size: 30ox;
    text-align: center;
    padding: 5px 5px;
}

/*----------------
    loading       
----------------*/
.loading {
    /* display: grid; */
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
    width: min-content;
}

.loading::before {
    content: "";
    width: 48px;
    height: 48px;
    border: 4px solid #b7b4b4b5;
    border-block-start-color: transparent;
    border-radius: 50%;
    animation: loading 500ms linear infinite;
}

@keyframes loading {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/*----------------
    Error       
----------------*/
.error {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: #131315;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: none;
}

.error h2 {
    padding: 5px;
    font-size: 25px;
}

.error p {
    padding: 5px;
    font-size: 25px;
}

.error.span {
    margin-top: 10px;
    background-color: #680468;
    padding: 10px;
    border-radius: 10px;
}